---
interface Props {
  contents: string | string[];
}

const { contents } = Astro.props;
---

<h1 class="h1">
</h1>
<style>
  .h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
</style>

